:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --background-white: #ffffff;
    --background-neutral-800: #2d2d2d;
    --text-white: #000000;
    --text-black: #ffffff;
    --text-neutral-400: #b0b0b0;
    --text-neutral-600: #a0a0a0;
    --gradient-from: #2563eb;
    --gradient-via: #84cc16;
    --gradient-to: #ea580c;
    --border-color: #cec3c3;
    --box-shadow-color: #cec3c3;

}

.dark {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --background-white: #111827;
    --background-neutral-800: #121212;
    --text-white: #ffffff;
    --text-black: #000000;
    --text-neutral-400: #b0b0b0;
    --text-neutral-600: #a0a0a0;
    --gradient-from: #60a5fa;
    --gradient-via: #bbf7d0;
    --gradient-to: #f97316;
    --border-color: #434242;
    --box-shadow-color: #000000;
}