/* CustomLightbox.scss */

.react-modal-image-modal {
    background-color: white !important;
    padding: 20px !important;
    border-radius: 8px !important;
    max-width: 80% !important;
    max-height: 80% !important;
    margin: auto !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.react-modal-image-img {
    max-width: 100% !important;
    max-height: 100% !important;
    border-radius: 20px !important;
}

.react-modal-image-close {
    top: 10px !important;
    right: 10px !important;
    background: none !important;
    border: none !important;
    font-size: 24px !important;
    cursor: pointer !important;
    color: #000 !important;
}
