@import './reset';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
}

:root {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  // color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.custom-border {
  border: 1px solid rgb(var(--foreground-rgb));
}

.custom-shadow {
  border: 1px solid #cec3c3;
  box-shadow: 10px 10px 5px 1px #cec3c3;
}

.custom-size-hero {
  width: auto;
  height: 100vh;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 1em;
  text-align: center;
}

.popup-message {
  padding: 20px;
  background-Color: #fff;
  border-Radius: 5px;
  display: flex;
  flex-Direction: column;
  align-Items: center;
}

@media (min-width: 1200px) {
  .custom-width {
    width: 50%;
  }
}

@media (min-width: 1600px) {
  .custom-flex {
    flex-direction: row !important;
  }
}

@media (min-width: 505px) {
  .custom-margin {
    margin-left: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}