:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-white: #ffffff;
  --background-neutral-800: #2d2d2d;
  --text-white: #000000;
  --text-black: #ffffff;
  --text-neutral-400: #b0b0b0;
  --text-neutral-600: #a0a0a0;
  --gradient-from: #2563eb;
  --gradient-via: #84cc16;
  --gradient-to: #ea580c;
  --border-color: #cec3c3;
  --box-shadow-color: #cec3c3;
  
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --background-white: #111827;
  --background-neutral-800: #121212;
  --text-white: #ffffff;
  --text-black: #000000;
  --text-neutral-400: #b0b0b0;
  --text-neutral-600: #a0a0a0;
  --gradient-from: #60a5fa;
  --gradient-via: #bbf7d0;
  --gradient-to: #f97316;
  --border-color: #434242;
  --box-shadow-color: #000000;
}


html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.gradient-text {
  background: linear-gradient(
    to right,
    var(--gradient-from),
    var(--gradient-via),
    var(--gradient-to)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradient-background {
  background: linear-gradient(
    to top right,
    var(--gradient-from),
    var(--gradient-via),
    var(--gradient-to)
  );
}

.text-background {
  background-color: var(--background-white);
  color: var(--text-white);
}

.custom-text {
  color: var(--text-black);
}

.about-text {
  color: var(--background-white);
}

/* Autres classes personnalisées */
.custom-border {
  border: 1px solid rgb(var(--foreground-rgb));
}

.custom-shadow-light {
  border: 2px solid var(--border-color);
  box-shadow: 10px 10px 5px 1px var(--box-shadow-color);
}

.custom-size-informations {
  width: auto;
  height: 100vh;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 1em;
  text-align: center;
  font-family: monospace;
}

.popup-message {
  padding: 20px;
  background-color: var(--background-white);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-white);
}

@media (min-width: 1200px) {
  .custom-width {
    width: 50%;
  }
}

@media (min-width: 1750px) {
  .custom-flex {
    flex-direction: row !important;
  }
}

@media (min-width: 505px) {
  .custom-margin {
    margin-left: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
