@import 'vars';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.gradient-text {
  background: linear-gradient(to right,
      var(--gradient-from),
      var(--gradient-via),
      var(--gradient-to));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradient-background {
  background: linear-gradient(to top right,
      var(--gradient-from),
      var(--gradient-via),
      var(--gradient-to));
}

.gradient-button {
  background: linear-gradient(to top right,
      var(--gradient-from),
      var(--gradient-via),
      var(--gradient-to));
}

.gradient-button:hover {
  background: linear-gradient(to top right,
      var(--gradient-button-from),
      var(--gradient-button-via),
      var(--gradient-button-to));
}

.gradient-background-bis {
  background: linear-gradient(to top right,
      var(--gradient-bis),
      var(--gradient-bis-to));
}

.text-background {
  background-color: var(--background-white);
  color: var(--text-white);
}

.text-background-dark {
  background-color: var(--background-black);
  color: var(--text-black);
}

.custom-text {
  color: var(--text-black);
}

.custom-text-white {
  color: var(--text-white);
}

.custom-footer {
  background-color: var(--background-white);
  color: var(--text-white);

  :hover {
    color: var(--text-neutral-600);
  }
}

.about-text {
  background-color: var(--background-white);
}

/* Autres classes personnalisées */
.custom-border {
  border: 1px solid rgb(var(--foreground-rgb));
}

.custom-shadow-light {
  border: 2px solid var(--border-color);
  box-shadow: 10px 10px 5px 1px var(--box-shadow-color);
}

.custom-size-informations {
  width: auto;
  height: 100vh;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 1em;
  text-align: center;
  font-family: monospace;
}

.popup-message {
  padding: 20px;
  background-color: var(--background-white);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--text-white);
  border: 2px solid var(--text-white);
}

.popup-close {
  cursor: pointer;
  border: 2px solid var(--text-white);
  border-radius: 5px;
  padding-left: 1em;
  padding-right: 1em;
}

@media (min-width: 1200px) {
  .custom-width {
    width: 50%;
  }
}

@media (min-width: 1750px) {
  .custom-flex {
    flex-direction: row !important;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}